textarea:focus,
input:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin-left: 0px;
}

input[type="date"] {
    display: flex;
    flex-flow: row-reverse;
    padding: 8px;
    height: auto;
}

.carousel-item>img {
    width: calc(100vw);
}

.message {
    color: deeppink;
    font-weight: 500;
    font-size: 18px;
}

.pink-list {
    border: solid 1px deeppink;
    border-radius: 20px;
    background: deeppink;
}

ul.pink-list>li {
    list-style-type: none;
    color: white;
}

.images {
    width: 250px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-top: -50%;
    margin-bottom: -70%;
}

.title {
    background-color: blue;
    color: white;
}

.viagens-link {
    text-decoration: none;
    color: black;
}

.viagens-link:hover {
    text-decoration: dotted;
    color: blue;
}

.promocoes {
    height: 400px !important;
}

.vai-para-onde {
    background-color: #F0F0F0;
    height: 416px;
}

.container-height {
    height: 90%;
}

.card {
    height: 90%;
    width: 100%;
    background-color: #FFF;
}

.card__menu {
    border-bottom: 1px solid #000;
}

.menu-button {
    padding: 16px 25px;
    cursor: pointer;
}

.menu-button__active {
    color: #ffc107;
    border-bottom: 2px solid #ffc107;
}

.menu-button:active {
    color: #ffc107;
    border-bottom: 2px solid #ffc107;
}

.input-group {
    display: flex;
    width: 100%;
    flex: 1;
}

.input-group>.box {
    padding: 8px;
    width: 50%;
    display: flex;
    border: none;
}

.input-group>.box>input {
    width: 100%;
    border: none;
}

.input-group>.box:nth-child(2) {
    margin-left: 0px;
    border-left: 2px solid #000;
}

.icon {
    margin: auto;
}

.table-trip {
    --bs-table-hover-bg: rgb(255, 193, 7, 0.075);
}

.trip-button {
    color: #FFF;
    border-radius: .5rem;
}

.radio-trip:focus,
.radio-trip:active {
    background-color: #ffc107;
    border-color: rgba(255, 193, 7, 1);
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

.bar-right {
    border-right: solid 1px #000;
}

.pacotes-banner {
    background-image: url("../assets/airplane.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}

.title-h1 {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
}

.button-carrousel {
    background-color: #ffc107;
    height: 92px;
    width: 92px;
}

.top-destinos-images {
    width: 406px;
    height: 350px;
    border-radius: .75rem;
    z-index: 100;
}

.text-top-destinos {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
}

.top-destinos-images-md {
    width: 623px;
    height: 350px;
    border-radius: .75rem;
    z-index: 100;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.125));
}

.cadastro-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    text-align: center;
}

.cadastro-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #323232;
}

.cadastro-input {
    width: 50%;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #323232;
    border-radius: 10px;
}

.line-cadastro {
    border-bottom: 1px solid #808080;
    height: 1px;
    transform: rotate(-180deg);
}

.cadastro-button {
    width: 35%;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #323232;
    border-radius: 50px;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #F0F0F0;
}

.nav-link:hover,
.nav-link:active {
    background-color: white;
    color: #FDA42B !important;
}